    <!-- About Section -->
    <section id="concept" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>翻轉教室</h2>
              <br/>
              <p align=left>在過去，我們在網路上的討論區，常常看到同學們在學校已經學會統計、學會用R 做分析，但是卻不熟悉R 本身，導致在學習分析套件，或是在實務的資料整理上，有諸多問題與挫折。
</p>
              <p align=left>我們也理解這類R 的基礎知識，是不容易在課堂上以傳統教學方式教授的。因此，我們運用R 的swirl套件，開發了這套教材，讓學生能在R 中學R，並且在學習中給予學生挑戰，增強學生的動機。
</p>
              <p align=left>除了基礎的R 知識之外，我們也以實際的開放資料為例，介紹處理開放資料的方法，以及處理中文資料的技巧。台灣是2015年全世界做開放資料最好的國家，而R 絕對是處理這些開放資料的利器。我們希望學生能善用政府釋出的開放資料。
</p>
              <p align=left>本教材以創用CC 3.0 姓名標示的方式釋出，所以老師們可以自由地把本教材運用在課程之中。我們建議老師們將本教材當成的補充作業使用，讓同學在學R 做分析之餘，也可以學習R本身的知識和處理開放資料的技能。如果有需要，我們也願意到課堂上給一節課程長度的介紹，讓同學知道如何使用本教材。有興趣的老師很歡迎來信聯繫我們。
</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/fcd6zSk0yd8" frameborder="0" allowfullscreen></iframe>
                <br/>
              </div>
        </div>
    </section>
